FLAG_REGEX="[A-Z0-9]{31}="
TULIP_MONGO="mongo:27017"

# The location of your pcaps as seen by the host
TRAFFIC_DIR_HOST="./services/test_pcap"

# The location of your pcaps (and eve.json), as seen by the container
TRAFFIC_DIR_DOCKER="/traffic"

# Start time of the CTF (or network open if you prefer)
TICK_START="2018-06-27T13:00+02:00"
# Tick length in ms
TICK_LENGTH=180000

# The IP of the VM running the CTF (for testing purposes use 127.0.0.1) is will run on port 31338
TULIP_LOCAL_IP=
TULIP_WEB_LOGIN=
TULIP_WEB_PASSWORD=
TULIP_INTERFACE=